.send
  = form_for [@group, @comment] do |f|
    = f.text_field :comment, class: "send__text", placeholder: "type a comment"
    .input-box
      = f.label :image, class: "input-box__image" do
        = fa_icon "picture-o", class: "icon"
        = f.file_field :image, class: "input-box__image--file"
    = f.submit "Send", class: "submit-btn"
 